*{
    box-sizing: border-box;
}
body{
    font-family: 'Yeseva One', 'Noto Serif TC', serif;
    line-height: 1.5;
}
img{
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}