$yellow: #FBFF22;
$drakyellow: #9C9E18;
$rice: #F3F1E5;
$black: #030303;
$white: #FFFFFF;
$pink: #C96464;

.color-white{
    color: $white;
}
.color-black{
    color: $black;
}
.color-yellow{
    color: $yellow;
}
.bg-rice{
    background: $rice;
}
.bg-black{
    background: $black;
}
.bg-white{
    background: $white;
}