.fz18{
    font-size: 18px;
}
.fz20{
    font-size: 20px;
}
.fz24{
    font-size: 24px;
}
.fz32{
    font-size: 32px;
}
.fz48{
    font-size: 48px;
}
.fz60{
    font-size: 60px;
}
.fz64{
    font-size: 64px;
}

.ml4{
    margin-left: 4px;
}
.ml8{
    margin-left: 8px;
}
.ml32{
    margin-left: 32px;
}
.mr12{
    margin-right: 12px;
}
.ml20{
    margin-left: 20px;
}
.mr20{
    margin-right: 20px;
}
.mb8{
    margin-bottom: 8px;
}
.mb12{
    margin-bottom: 12px;
}
.mb16{
    margin-bottom: 16px;
}
.mb24{
    margin-bottom: 24px;
}
.mb56{
    margin-bottom: 56px;
}
.mtb12{
    margin: 12px 0px;
}
.mtb24{
    margin: 24px 0px;
}

.pt40{
    padding-top: 40px;
}
.pl20{
    padding-left: 20px;
}
.pb12{
    padding-bottom: 12px;
}
.pb24{
    padding-bottom: 24px;
}
.pl36{
    padding-left: 36px;
}
.ptb8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.ptb12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.ptb24{
    padding-top: 24px;
    padding-bottom: 24px;
}
.ptb40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.p12{
    padding: 12px 12px;
}
.m0auto{
    margin: 0 auto;
}