<div class="col-12 bg-rice ptb24 border-b3">
    <div class="d-flex align-items-center col-10 m0auto">
        <div class="col-lg-9 col-md-11 col-sm-11 cpl-11 d-flex align-items-center">
            <a class="d-flex color-black" href="index.html">
                <img class="mw52" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true" alt="logo">
                <h1 class="fz32 ml20 fw-bold display-in-pad">7TAO</h1>
            </a>
            <p class="fw-bold ml4 display-in-pad">活動訂票網</p>
            <div class="ml32">
                <input class="search-bar bg-rice pl20" type="text" name="search" id="search" placeholder="探索活動">
                <button class="search-btn"><i class="icofont-search-1"></i></button>
            </div>
        </div>
        <ul class="col-lg-3 d-flex">
            <li type="button" class="col d-flex align-items-center justify-content-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="icofont-ui-file display-in-pc"></i>
                <p class="fw-bold ml4 display-in-pc">REGISTER</p>
            </li>
            <li type="button" class="col d-flex align-items-center justify-content-end">
                <i class="icofont-ui-user display-in-pc"></i>
                <p class="fw-bold ml4 display-in-pc">LOGIN</p>
            </li>
        </ul>
        <span class="col-md-1 col-sm-1 col-1 list fz32 material-symbols-outlined display-in-mobile hide-in-list">dehaze</span>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-rice">
        <button type="button" class="btn-close left" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-header border-b3">
          <h5 class="col-10 m0auto text-center modal-title fw-bold fz24" id="exampleModalLabel">立刻成為7TAO會員</h5>
        </div>
        <p class="text-center text">立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。
            您也可以先報名活動，日後再註冊帳號，
            系統會在認證您的Email後，協助您找回舊的訂單。
        </p>
        <div class="m0auto">
          <button type="button" class="btn bg-black color-yellow fz20 fw-bold">立即成為會員</button>
        </div>
      </div>
    </div>
  </div>