<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>event</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC&family=Yeseva+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <%- include('./layout/header'); -%>

    

    <div class="col-12 bg-rice ptb24">
      <div class="col-10 d-flex justify-content-between border-3 m0auto align-items-center">
        <h2 class="fz64 color-black ml20">EVENT</h2>
        <p class="fz32 fw-bold color-black mr20">所有活動</p>
      </div>

      <div class="col-12 bg-rice ptb40">
        <ul class="col-10 d-flex flex-wrap m0auto justify-content-between pb12">
            <li class="card-online text-center">演出</li>
            <li class="card-online text-center">音樂</li>
            <li class="card-online text-center">舞蹈</li>
            <li class="card-online text-center">戲劇</li>
            <li class="card-online text-center">音樂會</li>
            <li class="card-online text-center">課程講座</li>
            <li class="card-online text-center">社群活動</li>
            <li class="card-online text-center">展覽</li>
            <li class="card-online text-center">研討會</li>
            <li class="card-online text-center">電影</li>
            <li class="card-online text-center">電音派對</li>
            <li class="card-online text-center">遊戲競賽</li>
            <li class="card-online text-center">親子</li>
        </ul>
        <ul class="col-10 m0auto">    
            <div class="col-xl-8 col-12 d-flex flex-wrap justify-content-between">
                <li class="card-online text-center">藝文活動</li>
                <li class="card-online text-center">運動</li>
                <li class="card-online text-center">交通旅遊</li>
                <li class="card-online text-center">美食</li>
                <li class="card-online text-center">資訊科技</li>
                <li class="card-online text-center">聯誼</li>
                <li class="card-online text-center">戶外</li>
                <li class="card-online text-center">線上活動</li>
            </div>
        </ul>
      </div>

      <ul class="col-10 d-flex flex-wrap m0auto jcsb">
        <li class="w30 mtb12 d-flex flex-column justify-content-between">
          <div>
            <h3 class="fz48 border-b3 mb8">19 MAY 2023</h3>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true" alt="">
            <h4 class="fw-bold fz24 mtb24">邪典電影派對——房間</h4>
            <p>你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
          </div>
          <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
            <div class="d-flex align-items-center">
              <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
              <p>社群活動</p>
            </div>
            <a class="d-flex color-black fw-bold">
              <p>開賣中</p>
              <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
            </a>
          </div>
        </li>
        <li class="w30 mtb12 d-flex flex-column justify-content-between">
          <div> 
            <h3 class="fz48 border-b3 mb8">23 MAY 2023</h3>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/02.jpg?raw=true" alt="">
            <h4 class="fw-bold fz24 mtb24">怪舞俱樂部</h4>
            <p>覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
          </div>
          <div class="active d-flex justify-content-between align-items-center  mtb12 ptb12">
            <div class="d-flex align-items-center">
              <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
              <p>演出</p>
            </div>
            <a class="d-flex color-black fw-bold">
              <p>檢視活動</p>
              <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
            </a>
          </div>
        </li>
        <li class="w30 mtb12 d-flex flex-column justify-content-between">
          <div>
            <h3 class="fz48 border-b3 mb8">30 MAY 2023</h3>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/03.jpg?raw=true" alt="">
            <h4 class="fw-bold fz24 mtb24">哈利波特馬拉松</h4>
            <p>每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
          </div>
          <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
            <div class="d-flex align-items-center">
              <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
              <p>聯誼</p>
            </div>
            <a class="d-flex color-black fw-bold">
              <p>開賣中</p>
              <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
            </a>
          </div>
        </li>

        <li class="w30 mtb12 d-flex flex-column justify-content-between">
          <div>
            <h3 class="fz48 border-b3 mb8">12 June 2023</h3>
            <div class="card-active-1"></div>
            <h4 class="fw-bold fz24 mtb24">皮卡丘排球大賽</h4>
            <p>還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
          </div>
          <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
            <div class="d-flex align-items-center">
              <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
              <p>遊戲競賽</p>
            </div>
            <a class="d-flex color-black fw-bold">
              <p>開賣中</p>
              <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
            </a>
          </div>
        </li>
        <li class="w30 mtb12 d-flex flex-column justify-content-between">
          <div>
            <h3 class="fz48 border-b3 mb8">25 June 2023</h3>
            <div class="card-active-2"></div>
            <h4 class="fw-bold fz24 mtb24">酒精路跑</h4>
            <p>身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
          </div>
          <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
            <div class="d-flex align-items-center">
              <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
              <p>社群活動</p>
            </div>
            <a class="d-flex color-black fw-bold">
              <p>開賣中</p>
              <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
            </a>
          </div>
        </li>
        <li class="w30 mtb12 d-flex flex-column justify-content-between">
          <div>
            <h3 class="fz48 border-b3 mb8">9 July 2023</h3>
            <div class="card-active-3"></div>
            <h4 class="fw-bold fz24 mtb24">展覽——我的房間</h4>
            <p>每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
          </div>
          <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
            <div class="d-flex align-items-center">
              <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
              <p>展覽</p>
            </div>
            <a class="d-flex color-black fw-bold">
              <p>開賣中</p>
              <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
            </a>
          </div>
        </li>

        <li class="w30 mtb12 d-flex flex-column justify-content-between">
            <div>
                <h3 class="fz48 border-b3 mb8">19 MAY 2023</h3>
                <div class="card-active-4"></div>
                <h4 class="fw-bold fz24 mtb24">野營音樂祭</h4>
                <p>喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。</p>
            </div>
            <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
              <div class="d-flex align-items-center">
                <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
                <p>演出</p>
              </div>
              <a class="d-flex color-black fw-bold">
                <p>開賣中</p>
                <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
              </a>
            </div>
          </li>
          <li class="w30 mtb12 d-flex flex-column justify-content-between">
            <div>
                <h3 class="fz48 border-b3 mb8">19 MAY 2023</h3>
                <div class="card-active-5"></div>
                <h4 class="fw-bold fz24 mtb24">疊疊樂大賽</h4>
                <p>來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
            </div>
            <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
              <div class="d-flex align-items-center">
                <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
                <p>遊戲競賽</p>
              </div>
              <a class="d-flex color-black fw-bold">
                <p>開賣中</p>
                <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
              </a>
            </div>
          </li>
          <li class="w30 mtb12 d-flex flex-column justify-content-between">
            <div>
                <h3 class="fz48 border-b3 mb8">18 MAY 2023</h3>
                <div class="card-active-6"></div>
                <h4 class="fw-bold fz24 mtb24">返老還童-制服聯誼</h4>
                <p>由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
            </div>
            <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
              <div class="d-flex align-items-center">
                <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
                <p>聯誼</p>
              </div>
              <a class="d-flex color-black fw-bold">
                <p>檢視活動</p>
                <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
              </a>
            </div>
          </li>

          <li class="w30 mtb12 d-flex flex-column justify-content-between">
            <div>
                <h3 class="fz48 border-b3 mb8">12 June 2023</h3>
                <div class="card-active-7"></div>
                <h4 class="fw-bold fz24 mtb24">野外求生17天</h4>
                <p>野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...</p>
            </div>
            <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
              <div class="d-flex align-items-center">
                <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
                <p>戶外</p>
              </div>
              <a class="d-flex color-black fw-bold">
                <p>開賣中</p>
                <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
              </a>
            </div>
          </li>
          <li class="w30 mtb12 d-flex flex-column justify-content-between">
            <div>
                <h3 class="fz48 border-b3 mb8">25 June 2023</h3>
                <div class="card-active-8"></div>
                <h4 class="fw-bold fz24 mtb24">耳熟能詳音樂祭</h4>
                <p>對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！</p>
            </div>
            <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
              <div class="d-flex align-items-center">
                <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
                <p>演出</p>
              </div>
              <a class="d-flex color-black fw-bold">
                <p>開賣中</p>
                <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
              </a>
            </div>
          </li>
          <li class="w30 mtb12 d-flex flex-column justify-content-between">
            <div>
                <h3 class="fz48 border-b3 mb8">9 July 2023</h3>
                <div class="card-active-9"></div>
                <h4 class="fw-bold fz24 mtb24">野營發呆大賽</h4>
                <p>你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！</p>
            </div>
            <div class="active d-flex justify-content-between align-items-center mtb12 ptb12">
              <div class="d-flex align-items-center">
                <img class="mw24" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" alt="">
                <p>遊戲競賽</p>
              </div>
              <a class="d-flex color-black fw-bold">
                <p>開賣中</p>
                <span class="material-symbols-outlined">keyboard_double_arrow_right</span>
              </a>
            </div>
          </li>
      </ul>  
    </div>

    <div class="col-12 bg-rice ptb40">
        <nav aria-label="Page navigation example">
            <ul class="pagination w328 m0auto justify-content-between">
              <li class="page-item">
                <a class="page-link bg-rice color-black" href="#" aria-label="Previous">
                    <i class="icofont-arrow-left"></i>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link bg-rice color-black" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link bg-rice color-black" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link bg-rice color-black" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link bg-rice color-black" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link bg-rice color-black" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link bg-rice color-black" href="#" aria-label="Next">
                    <i class="icofont-arrow-right"></i>
                </a>
              </li>
            </ul>
        </nav>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
